<h1>Обробка та аналіз БМД, БС-81, Погребенко</h1>

In [1]:
import pandas as pd

In [2]:
test_df = pd.DataFrame({
    "stdent_id": [1, 2, 3, 4, 5],
    "studen_surname": ["Ivanov", "Petrov", "Kozlov", "Dubrov", "Yablockin"],
    "avg_test_grade": [9.1,10.1, 8.1, 9.5, 1.1],
    "is_passed": [True, True, True, True, False],
    "grades_by_test": [{"math":9.1, "programming" : 9.1, "english" : 9.1}, 
                       {"math":10.1, "programming" : 10.1, "english" : 10.1}, 
                       {"math":8.1, "programming" : 8.1, "english" : 8.1},
                       {"math":9.5, "programming" : 9.5, "english" : 9.5},
                       {"math":1.1, "programming" : 1.1, "english" : 1.1}],
    "awards": [["Good Student"], ["Excellent Student"], 
               ["Average Student"], ["Good Student"], ["'What did you forget here?' Student"]]
})

test_df

,stdent_id,studen_surname,avg_test_grade,is_passed,grades_by_test,awards
0,1,Ivanov,9.1,True,"{'math': 9.1, 'programming': 9.1, 'english': 9.1}",[Good Student]
1,2,Petrov,10.1,True,"{'math': 10.1, 'programming': 10.1, 'english':...",[Excellent Student]
2,3,Kozlov,8.1,True,"{'math': 8.1, 'programming': 8.1, 'english': 8.1}",[Average Student]
3,4,Dubrov,9.5,True,"{'math': 9.5, 'programming': 9.5, 'english': 9.5}",[Good Student]
4,5,Yablockin,1.1,False,"{'math': 1.1, 'programming': 1.1, 'english': 1.1}",['What did you forget here?' Student]

In [3]:
path = "D:/pyprojects/test/BM_labs/pmsm_temperature_data.csv"
data = pd.read_csv(path, encoding = "UTF-8")

print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [4]:
import os

print(f"Current dir: {os.getcwd()}")

Current dir: D:\University\2course\BM_labs\lab1

In [5]:
data = pd.read_csv("pmsm_temperature_data.csv")

print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [6]:
data

,ambient,coolant,u_d,u_q,motor_speed,torque,i_d,i_q,pm,stator_yoke,stator_tooth,stator_winding,profile_id
0,-0.752143,-1.118446,0.327935,-1.297858,-1.222428,-0.250182,1.029572,-0.245860,-2.522071,-1.831422,-2.066143,-2.018033,4
1,-0.771263,-1.117021,0.329665,-1.297686,-1.222429,-0.249133,1.029509,-0.245832,-2.522418,-1.830969,-2.064859,-2.017631,4
2,-0.782892,-1.116681,0.332771,-1.301822,-1.222428,-0.249431,1.029448,-0.245818,-2.522673,-1.830400,-2.064073,-2.017343,4
3,-0.780935,-1.116764,0.333700,-1.301852,-1.222430,-0.248636,1.032845,-0.246955,-2.521639,-1.830333,-2.063137,-2.017632,4
4,-0.774043,-1.116775,0.335206,-1.303118,-1.222429,-0.248701,1.031807,-0.246610,-2.521900,-1.830498,-2.062795,-2.018145,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
998065,-0.047497,0.341638,0.331475,-1.246114,-1.222428,-0.255640,1.029142,-0.245722,0.429853,1.018568,0.836084,0.494725,72
998066,-0.048839,0.320022,0.331701,-1.250655,-1.222437,-0.255640,1.029148,-0.245736,0.429751,1.013417,0.834438,0.494279,72
998067,-0.042350,0.307415,0.330946,-1.246852,-1.222430,-0.255640,1.029191,-0.245701,0.429439,1.002906,0.833936,0.492666,72
998068,-0.039433,0.302082,0.330987,-1.249505,-1.222432,-0.255640,1.029147,-0.245727,0.429558,0.999157,0.830504,0.490581,72
998069,-0.043803,0.312666,0.330830,-1.246591,-1.222431,-0.255640,1.029141,-0.245722,0.429166,0.987163,0.828046,0.489382,72

In [7]:
data.shape

(998070, 13)

In [8]:
data.head()

,ambient,coolant,u_d,u_q,motor_speed,torque,i_d,i_q,pm,stator_yoke,stator_tooth,stator_winding,profile_id
0,-0.752143,-1.118446,0.327935,-1.297858,-1.222428,-0.250182,1.029572,-0.245860,-2.522071,-1.831422,-2.066143,-2.018033,4
1,-0.771263,-1.117021,0.329665,-1.297686,-1.222429,-0.249133,1.029509,-0.245832,-2.522418,-1.830969,-2.064859,-2.017631,4
2,-0.782892,-1.116681,0.332771,-1.301822,-1.222428,-0.249431,1.029448,-0.245818,-2.522673,-1.830400,-2.064073,-2.017343,4
3,-0.780935,-1.116764,0.333700,-1.301852,-1.222430,-0.248636,1.032845,-0.246955,-2.521639,-1.830333,-2.063137,-2.017632,4
4,-0.774043,-1.116775,0.335206,-1.303118,-1.222429,-0.248701,1.031807,-0.246610,-2.521900,-1.830498,-2.062795,-2.018145,4

In [9]:
data.tail()

,ambient,coolant,u_d,u_q,motor_speed,torque,i_d,i_q,pm,stator_yoke,stator_tooth,stator_winding,profile_id
998065,-0.047497,0.341638,0.331475,-1.246114,-1.222428,-0.25564,1.029142,-0.245722,0.429853,1.018568,0.836084,0.494725,72
998066,-0.048839,0.320022,0.331701,-1.250655,-1.222437,-0.25564,1.029148,-0.245736,0.429751,1.013417,0.834438,0.494279,72
998067,-0.042350,0.307415,0.330946,-1.246852,-1.222430,-0.25564,1.029191,-0.245701,0.429439,1.002906,0.833936,0.492666,72
998068,-0.039433,0.302082,0.330987,-1.249505,-1.222432,-0.25564,1.029147,-0.245727,0.429558,0.999157,0.830504,0.490581,72
998069,-0.043803,0.312666,0.330830,-1.246591,-1.222431,-0.25564,1.029141,-0.245722,0.429166,0.987163,0.828046,0.489382,72

In [10]:
data.dtypes

ambient           float64
coolant           float64
u_d               float64
u_q               float64
motor_speed       float64
torque            float64
i_d               float64
i_q               float64
pm                float64
stator_yoke       float64
stator_tooth      float64
stator_winding    float64
profile_id          int64
dtype: object

In [11]:
data.describe()

,ambient,coolant,u_d,u_q,motor_speed,torque,i_d,i_q,pm,stator_yoke,stator_tooth,stator_winding,profile_id
count,998070.000000,998070.000000,998070.000000,998070.000000,998070.000000,998070.000000,998070.000000,998070.000000,998070.000000,998070.000000,998070.000000,998070.000000,998070.000000
mean,-0.003905,0.004723,0.004780,-0.005690,-0.006336,-0.003333,0.006043,-0.003194,-0.004396,0.000609,-0.002208,-0.003935,50.732001
std,0.993127,1.002423,0.997878,1.002330,1.001229,0.997907,0.998994,0.997912,0.995686,1.001049,0.999597,0.998343,22.073125
min,-8.573954,-1.429349,-1.655373,-1.861463,-1.371529,-3.345953,-3.245874,-3.341639,-2.631991,-1.834688,-2.066143,-2.019973,4.000000
25%,-0.599385,-1.037925,-0.826359,-0.927390,-0.951892,-0.266917,-0.756296,-0.257269,-0.672308,-0.747265,-0.761951,-0.725622,32.000000
50%,0.266157,-0.177187,0.267542,-0.099818,-0.140246,-0.187246,0.213935,-0.190076,0.094367,-0.057226,0.005085,0.006536,56.000000
75%,0.686675,0.650709,0.358491,0.852625,0.853584,0.547171,1.013975,0.499260,0.680691,0.697344,0.772239,0.725660,68.000000
max,2.967117,2.649032,2.274734,1.793498,2.024164,3.016971,1.060937,2.914185,2.917456,2.449158,2.326668,2.653781,81.000000

In [12]:
data["motor_speed"].describe()

count    998070.000000
mean         -0.006336
std           1.001229
min          -1.371529
25%          -0.951892
50%          -0.140246
75%           0.853584
max           2.024164
Name: motor_speed, dtype: float64

In [13]:
data["ambient"].describe()

count    998070.000000
mean         -0.003905
std           0.993127
min          -8.573954
25%          -0.599385
50%           0.266157
75%           0.686675
max           2.967117
Name: ambient, dtype: float64

In [14]:
slice = data.iloc[:10, :]

slice

,ambient,coolant,u_d,u_q,motor_speed,torque,i_d,i_q,pm,stator_yoke,stator_tooth,stator_winding,profile_id
0,-0.752143,-1.118446,0.327935,-1.297858,-1.222428,-0.250182,1.029572,-0.245860,-2.522071,-1.831422,-2.066143,-2.018033,4
1,-0.771263,-1.117021,0.329665,-1.297686,-1.222429,-0.249133,1.029509,-0.245832,-2.522418,-1.830969,-2.064859,-2.017631,4
2,-0.782892,-1.116681,0.332771,-1.301822,-1.222428,-0.249431,1.029448,-0.245818,-2.522673,-1.830400,-2.064073,-2.017343,4
3,-0.780935,-1.116764,0.333700,-1.301852,-1.222430,-0.248636,1.032845,-0.246955,-2.521639,-1.830333,-2.063137,-2.017632,4
4,-0.774043,-1.116775,0.335206,-1.303118,-1.222429,-0.248701,1.031807,-0.246610,-2.521900,-1.830498,-2.062795,-2.018145,4
5,-0.762936,-1.116955,0.334901,-1.303017,-1.222429,-0.248197,1.031031,-0.246341,-2.522203,-1.831931,-2.062549,-2.017884,4
6,-0.749228,-1.116170,0.335014,-1.302082,-1.222430,-0.247914,1.030493,-0.246162,-2.522538,-1.833012,-2.062115,-2.017243,4
7,-0.738450,-1.113986,0.336256,-1.305155,-1.222432,-0.248321,1.030107,-0.246035,-2.522844,-1.832182,-2.061953,-2.017213,4
8,-0.730910,-1.111828,0.334905,-1.303790,-1.222432,-0.247785,1.029851,-0.245981,-2.522808,-1.831576,-2.062443,-2.017739,4
9,-0.727130,-1.109486,0.335988,-1.305633,-1.222431,-0.248294,1.029636,-0.245888,-2.522677,-1.831438,-2.062317,-2.018180,4

In [15]:
new_column = ["first_group" if x < 6 else "second_group" for x in range(10)]

slice.insert(1, "Group", new_column)
slice

,ambient,Group,coolant,u_d,u_q,motor_speed,torque,i_d,i_q,pm,stator_yoke,stator_tooth,stator_winding,profile_id
0,-0.752143,first_group,-1.118446,0.327935,-1.297858,-1.222428,-0.250182,1.029572,-0.245860,-2.522071,-1.831422,-2.066143,-2.018033,4
1,-0.771263,first_group,-1.117021,0.329665,-1.297686,-1.222429,-0.249133,1.029509,-0.245832,-2.522418,-1.830969,-2.064859,-2.017631,4
2,-0.782892,first_group,-1.116681,0.332771,-1.301822,-1.222428,-0.249431,1.029448,-0.245818,-2.522673,-1.830400,-2.064073,-2.017343,4
3,-0.780935,first_group,-1.116764,0.333700,-1.301852,-1.222430,-0.248636,1.032845,-0.246955,-2.521639,-1.830333,-2.063137,-2.017632,4
4,-0.774043,first_group,-1.116775,0.335206,-1.303118,-1.222429,-0.248701,1.031807,-0.246610,-2.521900,-1.830498,-2.062795,-2.018145,4
5,-0.762936,first_group,-1.116955,0.334901,-1.303017,-1.222429,-0.248197,1.031031,-0.246341,-2.522203,-1.831931,-2.062549,-2.017884,4
6,-0.749228,second_group,-1.116170,0.335014,-1.302082,-1.222430,-0.247914,1.030493,-0.246162,-2.522538,-1.833012,-2.062115,-2.017243,4
7,-0.738450,second_group,-1.113986,0.336256,-1.305155,-1.222432,-0.248321,1.030107,-0.246035,-2.522844,-1.832182,-2.061953,-2.017213,4
8,-0.730910,second_group,-1.111828,0.334905,-1.303790,-1.222432,-0.247785,1.029851,-0.245981,-2.522808,-1.831576,-2.062443,-2.017739,4
9,-0.727130,second_group,-1.109486,0.335988,-1.305633,-1.222431,-0.248294,1.029636,-0.245888,-2.522677,-1.831438,-2.062317,-2.018180,4

In [16]:
slice.groupby("Group").describe()

             ambient                                                    \
               count      mean       std       min       25%       50%
Group
first_group      6.0 -0.770702  0.011572 -0.782892 -0.779212 -0.772653
second_group     4.0 -0.736429  0.009744 -0.749228 -0.741144 -0.734680

                                 coolant            ... stator_winding  \
                   75%       max   count      mean  ...            75%
Group                                               ...
first_group  -0.765018 -0.752143     6.0 -1.117107  ...      -2.017632
second_group -0.729965 -0.727130     4.0 -1.112868  ...      -2.017235

                       profile_id
                   max      count mean  std  min  25%  50%  75%  max
Group
first_group  -2.017343        6.0  4.0  0.0  4.0  4.0  4.0  4.0  4.0
second_group -2.017213        4.0  4.0  0.0  4.0  4.0  4.0  4.0  4.0

[2 rows x 104 columns]

In [17]:
slice.to_csv("output.csv", encoding = "UTF-8")

In [18]:
data.describe().to_csv("satistics.csv", encoding = 'UTF-8')